In [1]:
import pandas as pd
import os

In [2]:
folder = '/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data'

In [4]:
for dirname, _, filenames in os.walk(folder):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/train.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/lectures.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/example_test.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/example_sample_submission.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/questions.csv

In [3]:
train_df = pd.read_csv(os.path.join(folder, 'train.csv'), low_memory=False, nrows=10**5, 
                       dtype={'row_id': 'int64', 'timestamp': 'int64', 'user_id': 'int32', 'content_id': 'int16', 'content_type_id': 'int8',
                              'task_container_id': 'int16', 'user_answer': 'int8', 'answered_correctly': 'int8', 'prior_question_elapsed_time': 'float32', 
                             'prior_question_had_explanation': 'boolean',
                             }
                      )
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
99995,99995,153647401,2078569,4334,0,275,3,0,6000.0,True
99996,99996,153692472,2078569,6436,0,276,3,0,9000.0,True
99997,99997,153722998,2078569,6446,0,277,2,1,21000.0,True
99998,99998,153759775,2078569,3715,0,278,3,0,12000.0,True
99999,99999,153842445,2078569,5624,0,279,3,1,16000.0,True

In [22]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   row_id                          100000 non-null  int64
 1   timestamp                       100000 non-null  int64
 2   user_id                         100000 non-null  int32
 3   content_id                      100000 non-null  int16
 4   content_type_id                 100000 non-null  int8
 5   task_container_id               100000 non-null  int16
 6   user_answer                     100000 non-null  int8
 7   answered_correctly              100000 non-null  int8
 8   prior_question_elapsed_time     97834 non-null   float32
 9   prior_question_had_explanation  99652 non-null   boolean
dtypes: boolean(1), float32(1), int16(2), int32(1), int64(2), int8(3)
memory usage: 3.1 MB

In [20]:
train_df.select_dtypes(include='number').describe()

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time
count,100000.000000,1.000000e+05,1.000000e+05,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,97834.000000
mean,49999.500000,7.332661e+09,1.090868e+06,5156.21962,0.018180,974.593070,1.382490,0.655080,24715.390625
std,28867.657797,1.031230e+10,6.657180e+05,3896.63440,0.133603,1205.095836,1.193602,0.512165,17379.027344
min,0.000000,0.000000e+00,1.150000e+02,0.00000,0.000000,0.000000,-1.000000,-1.000000,0.000000
25%,24999.750000,6.595929e+08,4.590170e+05,1797.00000,0.000000,124.000000,0.000000,0.000000,16000.000000
50%,49999.500000,4.015927e+09,1.282581e+06,4980.00000,0.000000,458.000000,1.000000,1.000000,21000.000000
75%,74999.250000,1.000065e+10,1.567938e+06,7427.00000,0.000000,1358.000000,3.000000,1.000000,28666.000000
max,99999.000000,5.949531e+10,2.078569e+06,32736.00000,1.000000,5630.000000,3.000000,1.000000,300000.000000

In [21]:
train_df.select_dtypes(exclude='number').describe()

       prior_question_had_explanation
count                           99652
unique                              2
top                              True
freq                            90349

In [5]:
questions_df = pd.read_csv(os.path.join(folder, 'questions.csv'))

In [6]:
questions_df

       question_id  bundle_id  correct_answer  part            tags
0                0          0               0     1   51 131 162 38
1                1          1               1     1       131 36 81
2                2          2               0     1  131 101 162 92
3                3          3               0     1  131 149 162 29
4                4          4               3     1    131 5 162 38
...            ...        ...             ...   ...             ...
13518        13518      13518               3     5              14
13519        13519      13519               3     5               8
13520        13520      13520               2     5              73
13521        13521      13521               0     5             125
13522        13522      13522               3     5              55

[13523 rows x 5 columns]

In [23]:
questions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13523 entries, 0 to 13522
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   question_id     13523 non-null  int64
 1   bundle_id       13523 non-null  int64
 2   correct_answer  13523 non-null  int64
 3   part            13523 non-null  int64
 4   tags            13522 non-null  object
dtypes: int64(4), object(1)
memory usage: 528.4+ KB

In [7]:
lectures_df = pd.read_csv(os.path.join(folder, 'lectures.csv'))

In [8]:
lectures_df

     lecture_id    tag  part           type_of
0            89  24584     5           concept
1           100  22243     1           concept
2           185   7035     6           concept
3           192  31458     5  solving question
4           317  19653     5  solving question
..          ...    ...   ...               ...
413       32535  20004     5  solving question
414       32570   4358     3  solving question
415       32604   9093     6           concept
416       32625  23993     2           concept
417       32736  25432     3           concept

[418 rows x 4 columns]

In [24]:
lectures_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   lecture_id  418 non-null    int64
 1   tag         418 non-null    int64
 2   part        418 non-null    int64
 3   type_of     418 non-null    object
dtypes: int64(3), object(1)
memory usage: 13.2+ KB

In [10]:
example_test_df = pd.read_csv(os.path.join(folder, 'example_test.csv'))

In [11]:
example_test_df

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
0,0,0,0,275030867,5729,0,0,NaN,NaN,[],[]
1,1,0,13309898705,554169193,12010,0,4427,19000.0,True,NaN,NaN
2,2,0,4213672059,1720860329,457,0,240,17000.0,True,NaN,NaN
3,3,0,62798072960,288641214,13262,0,266,23000.0,True,NaN,NaN
4,4,0,10585422061,1728340777,6119,0,162,72400.0,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
99,104,3,13167339284,1900527744,3004,0,1179,24667.0,True,NaN,NaN
100,105,3,13167339284,1900527744,3003,0,1179,24667.0,True,NaN,NaN
101,106,3,64497673060,7792299,7908,0,676,19000.0,True,NaN,NaN
102,107,3,62798166743,288641214,9077,0,269,25000.0,True,NaN,NaN
103,108,3,2059176357,2018567473,12119,0,591,20000.0,True,NaN,NaN

In [14]:
example_test_df.select_dtypes(include='number').describe()

,row_id,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time
count,104.000000,104.000000,1.040000e+02,1.040000e+02,104.000000,104.0,104.000000,103.000000
mean,53.480769,1.711538,1.669283e+10,1.156358e+09,6772.701923,0.0,1094.413462,24949.631068
std,32.012734,1.094320,2.039655e+10,5.966096e+08,4503.710852,0.0,1588.054159,9969.308932
min,0.000000,0.000000,0.000000e+00,7.792299e+06,18.000000,0.0,0.000000,7000.000000
25%,25.750000,1.000000,1.574161e+09,6.448233e+08,2028.750000,0.0,162.750000,18000.000000
50%,53.500000,2.000000,4.693169e+09,1.257605e+09,6225.500000,0.0,378.500000,24667.000000
75%,80.250000,3.000000,2.746557e+10,1.609175e+09,11031.250000,0.0,1179.000000,28875.000000
max,108.000000,3.000000,7.681646e+10,2.103437e+09,13354.000000,0.0,6958.000000,72400.000000

In [19]:
example_test_df.select_dtypes(exclude='number').describe()

,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses
count,103,4,4
unique,2,4,4
top,True,[],[]
freq,100,1,1