In [1]:
import pandas as pd
import os

In [2]:
folder = '/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data'

In [4]:
for dirname, _, filenames in os.walk(folder):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/train.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/lectures.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/example_test.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/example_sample_submission.csv
/media/mourao/BACKUP/kaggle.com/c/riiid-test-answer-prediction/data/questions.csv

In [3]:
train_df = pd.read_csv(os.path.join(folder, 'train.csv'), low_memory=False, nrows=10**5, 
                       dtype={'row_id': 'int64', 'timestamp': 'int64', 'user_id': 'int32', 'content_id': 'int16', 'content_type_id': 'int8',
                              'task_container_id': 'int16', 'user_answer': 'int8', 'answered_correctly': 'int8', 'prior_question_elapsed_time': 'float32', 
                             'prior_question_had_explanation': 'boolean',
                             }
                      )
train_df

,row_id,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
0,0,0,115,5692,0,1,3,1,NaN,<NA>
1,1,56943,115,5716,0,2,2,1,37000.0,False
2,2,118363,115,128,0,0,0,1,55000.0,False
3,3,131167,115,7860,0,3,0,1,19000.0,False
4,4,137965,115,7922,0,4,1,1,11000.0,False
...,...,...,...,...,...,...,...,...,...,...
99995,99995,153647401,2078569,4334,0,275,3,0,6000.0,True
99996,99996,153692472,2078569,6436,0,276,3,0,9000.0,True
99997,99997,153722998,2078569,6446,0,277,2,1,21000.0,True
99998,99998,153759775,2078569,3715,0,278,3,0,12000.0,True
99999,99999,153842445,2078569,5624,0,279,3,1,16000.0,True

In [5]:
questions_df = pd.read_csv(os.path.join(folder, 'questions.csv'))

In [6]:
questions_df

       question_id  bundle_id  correct_answer  part            tags
0                0          0               0     1   51 131 162 38
1                1          1               1     1       131 36 81
2                2          2               0     1  131 101 162 92
3                3          3               0     1  131 149 162 29
4                4          4               3     1    131 5 162 38
...            ...        ...             ...   ...             ...
13518        13518      13518               3     5              14
13519        13519      13519               3     5               8
13520        13520      13520               2     5              73
13521        13521      13521               0     5             125
13522        13522      13522               3     5              55

[13523 rows x 5 columns]

In [7]:
lectures_df = pd.read_csv(os.path.join(folder, 'lectures.csv'))

In [8]:
lectures_df

     lecture_id    tag  part           type_of
0            89  24584     5           concept
1           100  22243     1           concept
2           185   7035     6           concept
3           192  31458     5  solving question
4           317  19653     5  solving question
..          ...    ...   ...               ...
413       32535  20004     5  solving question
414       32570   4358     3  solving question
415       32604   9093     6           concept
416       32625  23993     2           concept
417       32736  25432     3           concept

[418 rows x 4 columns]